/*!
Theme Name: Tonic
Theme URI: https://themes.bavotasan.com/themes/tonic-pro-wordpress-theme/
Author: Bandicoot Marketing
Author URI: http://bavotasan.com/
Description: Create a truly unique design with Tonic, a lightweight and fully responsive HTML5 theme based on the Gridiculous boilerplate. Use the new Theme Options customizer to add your own header image, custom background, page layout, site width and more. Distinguish each post with one of the eight supported post formats, such as: Video, Image, Aside, Status, Audio, Quote, Link and Gallery. Install JetPack to display each of your galleries through a tiled view and jQuery carousel. Compatible with bbPress & BuddyPress. Built using SASS, Compass and Twitter Bootstrap. Tonic uses Google Fonts for improved typeface readability and works perfectly in desktop browsers, tablets and handheld devices.
Version: 1.1.2
Tags: white, black, gray, light, silver, one-column, two-columns, right-sidebar, left-sidebar, fluid-layout, fixed-layout, custom-background, custom-header, custom-menu, custom-colors, editor-style, featured-image-header, featured-images, post-formats, sticky-post, threaded-comments, translation-ready, theme-options, responsive-layout

License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html

Tonic WordPress Theme, Copyright 2018 Bandicoot Marketing
Tonic is distributed under the terms of the GNU GPL
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* =Gridiculous
-------------------------------------------------------------- */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.wfull, .c12 {
  width: 100%;
  max-width: 100%; }

.w320 {
  max-width: 320px; }

.w640 {
  max-width: 640px; }

.w960 {
  max-width: 960px; }

.row {
  width: 100%;
  margin-bottom: 20px; }
  .row .row {
    width: auto;
    margin-left: -20px;
    margin-right: -20px; }
    @media (max-width: 960px) {
      .row .row .c1, .row .row .c2, .row .row .c3, .row .row .c4, .row .row .c5, .row .row .c6, .row .row .c7, .row .row .c8, .row .row .c9, .row .row .c10, .row .row .c11, .row .row .c12 {
        width: 100%;
        margin-bottom: 20px; } }
    @media (max-width: 960px) {
      .row .row > div:last-child {
        margin-bottom: 0; } }

.c1 {
  width: 8.33%; }

.c2 {
  width: 16.66%; }

.c3 {
  width: 25%; }

.c4 {
  width: 33.33%; }

.c5 {
  width: 41.66%; }

.c6 {
  width: 50%; }

.c7 {
  width: 58.33%; }

.c8 {
  width: 66.66%; }

.c9 {
  width: 75%; }

.c10 {
  width: 83.33%; }

.c11 {
  width: 91.66%; }

.w320 .c1, .w320 .c2, .w320 .c3, .w320 .c4, .w320 .c5, .w320 .c6, .w320 .c7, .w320 .c8, .w320 .c9, .w320 .c10, .w320 .c11, .w640 .c1, .w640 .c2, .w640 .c3, .w640 .c4, .w640 .c5, .w640 .c6, .w640 .c7, .w640 .c8, .w640 .c9, .w640 .c10, .w640 .c11 {
  width: 100%; }

.s1 {
  margin-left: 8.33%; }

.s2 {
  margin-left: 16.66%; }

.s3 {
  margin-left: 25%; }

.s4 {
  margin-left: 33.33%; }

.s5 {
  margin-left: 41.66%; }

.s6 {
  margin-left: 50%; }

.s7 {
  margin-left: 58.33%; }

.s8 {
  margin-left: 66.66%; }

.s9 {
  margin-left: 75%; }

.s10 {
  margin-left: 83.33%; }

.s11 {
  margin-left: 91.66%; }

.end {
  float: right !important; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  min-height: 1px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }
  @media (max-width: 768px) {
    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px; } }

/* =Clearfix http://css-tricks.com/snippets/css/clear-fix/
-------------------------------------------------------------- */
.row:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* =General
-------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  outline: none; }

body {
  font-size: 16px;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 20px 0;
  text-rendering: optimizelegibility; }
  .basic h1, .basic h2, .basic h3, .basic h4, .basic h5, .basic h6 {
    color: #333333;
    font-family: Lato, sans-serif;
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
    .basic h1 a, .basic h2 a, .basic h3 a, .basic h4 a, .basic h5 a, .basic h6 a {
      color: #333333; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p {
  margin: 1em 0; }

a {
  text-decoration: none; }
  .basic a {
    color: #0088CC; }
    .basic a:hover {
      color: #444; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, ol {
  padding: 0 0 0 20px; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

table {
  width: 100%;
  background: #fff; }
  table td, table th {
    padding: 8px;
    border: 1px solid #bbb;
    text-align: left; }
  table th {
    background: #ddd;
    font-weight: bold; }
  table caption {
    padding: 1em 0;
    text-align: center; }

dt {
  font-weight: bold; }

dd {
  line-height: 1.4;
  margin: 4px 0 0;
  padding: 0 0 .5em 0; }

blockquote {
  margin: 1em 0;
  border-left: 10px solid #ccc;
  padding-left: 12px; }

cite {
  text-align: right;
  font-style: normal;
  display: block; }
  cite:before {
    content: '\2013 \00A0'; }

code,
kbd,
pre,
samp,
tt {
  font: 0.8em 'Andale Mono', 'Lucida Console', monospace; }

pre,
code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #888;
  padding: 2px 4px; }

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  line-height: 1.3;
  margin: 1em 0; }

select {
  width: 100%; }

.fl {
  float: left; }

.fr {
  float: right; }

del {
  color: red;
  text-decoration: line-through; }

ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr, acronym {
  border-bottom: 1px dotted; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* =Inputs
-------------------------------------------------------------- */
input,
textarea {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb;
  font-size: 14px;
  color: #555; }
  input:focus,
  textarea:focus {
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-color: #AAA; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
  width: 240px; }
input[type="submit"] {
  margin-top: 0; }

textarea {
  width: 100%; }

select {
  display: inline-block;
  height: 28px;
  line-height: 1;
  border: 1px solid #aaa;
  padding: 4px;
  color: #555; }
  .widget select {
    width: 70%; }

/* =Media
-------------------------------------------------------------- */
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

.responsive-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0; }

.responsive-video-wrapper iframe,
.responsive-video-wrapper object,
.responsive-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* =Assitive Text
-------------------------------------------------------------- */
.assistive-text,
.remove,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* =Sticky Footer
-------------------------------------------------------------- */
html, body {
  height: 100%; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0; }

#main {
  margin-bottom: 0; }

/* =Twitter Bootstrap Shortcodes
-------------------------------------------------------------- */
input[type="submit"], .btn {
  text-decoration: none;
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ffffffff',endcolorstr='#ffe6e6e6',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

input[type="submit"]:hover, input[type="submit"]:active, .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9; }

input[type="submit"]:active, .btn:active, .btn.active {
  background-color: #ccc \9; }

.btn:first-child {
  *margin-left: 0; }

input[type="submit"]:hover, .btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear; }

input[type="submit"]:focus, .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="submit"]:active, .btn.active, .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn.disabled, .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.btn-large[class^="icon-"] {
  margin-top: 2px; }

.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px; }

.btn-small[class^="icon-"] {
  margin-top: 0; }

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px; }

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

input[type="submit"], .btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #04c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
  background-image: -webkit-linear-gradient(top, #08c, #04c);
  background-image: -o-linear-gradient(top, #08c, #04c);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #08c, #04c);
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ff0088cc',endcolorstr='#ff0044cc',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3; }

.btn-primary:active, .btn-primary.active {
  background-color: #039 \9; }

.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#fffbb450',endcolorstr='#fff89406',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505; }

.btn-warning:active, .btn-warning.active {
  background-color: #c67605 \9; }

.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ffee5f5b',endcolorstr='#ffbd362f',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a; }

.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9; }

.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ff62c462',endcolorstr='#ff51a351',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249; }

.btn-success:active, .btn-success.active {
  background-color: #408140 \9; }

.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ff5bc0de',endcolorstr='#ff2f96b4',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0; }

.btn-info:active, .btn-info.active {
  background-color: #24748c \9; }

.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
  background-image: -webkit-linear-gradient(top, #444, #222);
  background-image: -o-linear-gradient(top, #444, #222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444, #222);
  background-repeat: repeat-x;
  border-color: #222 #222 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ff444444',endcolorstr='#ff222222',gradienttype=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515; }

.btn-inverse:active, .btn-inverse.active {
  background-color: #080808 \9; }

button.btn, input[type="submit"].btn, input[type="submit"] {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn.btn-large, input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

button.btn.btn-small, input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px; }

.btn-link, .btn-link:active, .btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-link {
  color: #08c;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:hover {
  color: #333;
  text-decoration: none; }

.alert {
  font: 12px/1.4 normal Arial,sans-serif;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.alert h4 {
  font-size: 16px;
  color: inherit;
  font-family: inherit; }

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

.alert-block > p, .alert-block > ul {
  margin-bottom: 0; }

.alert-block p + p {
  margin-top: 5px; }

.alert p, .alert h4 {
  margin: 0; }

.alert a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted; }

.alert a:hover {
  color: inherit; }

.alert code {
  font-size: 11px; }

.label, .badge {
  font-size: 11.844px;
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999; }

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.badge {
  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

a.label:hover, a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label-important, .badge-important {
  background-color: #b94a48; }

.label-important[href], .badge-important[href] {
  background-color: #953b39; }

.label-warning, .badge-warning {
  background-color: #f89406; }

.label-warning[href], .badge-warning[href] {
  background-color: #c67605; }

.label-success, .badge-success {
  background-color: #468847; }

.label-success[href], .badge-success[href] {
  background-color: #356635; }

.label-info, .badge-info {
  background-color: #3a87ad; }

.label-info[href], .badge-info[href] {
  background-color: #2d6987; }

.label-inverse, .badge-inverse {
  background-color: #333; }

.label-inverse[href], .badge-inverse[href] {
  background-color: #1a1a1a; }

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.hero-unit h1 {
  margin: 10px 0 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit; }

.hero-unit li {
  line-height: 30px; }

.hero-unit p {
  margin: 0 0 10px; }

.img-rounded, .img-polaroid, .img-circle, .gallery-icon img {
  padding: 0;
  border: 0;
  background: none; }

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid, .gallery-icon img {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1; }

.btn-group:first-child {
  *margin-left: 0; }

.btn-group + .btn-group {
  margin-left: 5px; }

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0; }

.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group {
  margin-left: 5px; }

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn-group > .btn + .btn {
  margin-left: -1px; }

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 14px; }

.btn-group > .btn-mini {
  font-size: 10.5px; }

.btn-group > .btn-small {
  font-size: 11.9px; }

.btn-group > .btn-large {
  font-size: 17.5px; }

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px; }

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px; }

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px; }

.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px; }

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
  z-index: 2; }

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
  outline: 0; }

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px; }

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px; }

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px; }

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6; }

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #04c; }

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406; }

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f; }

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351; }

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4; }

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222; }

#author-info {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px; }

#author-info .author-text {
  padding-left: 90px; }

#author-info h4 {
  margin: 0 0 5px;
  font-size: 18px; }

#author-info .author-text p {
  font-size: 14px;
  line-height: 1.4; }

#author-info img {
  float: left; }

#author-info img {
  border-color: #e2e2e2;
  background: #fff; }

.carousel {
  text-shadow: none;
  position: relative;
  margin-bottom: 20px;
  line-height: 1; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left; }

.carousel .item > img {
  display: block;
  line-height: 1;
  padding: 0;
  border: 0;
  background: none; }

.carousel .active, .carousel .next, .carousel .prev {
  display: block; }

.carousel .active {
  left: 0; }

.carousel .next, .carousel .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel .next {
  left: 100%; }

.carousel .prev {
  left: -100%; }

.carousel .next.left, .carousel .prev.right {
  left: 0; }

.carousel .active.left {
  left: -100%; }

.carousel .active.right {
  left: 100%; }

.carousel-control {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff !important;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: .5;
  filter: alpha(opacity=50); }

.carousel-control.right {
  right: 15px;
  left: auto; }

.carousel-control:hover {
  color: #fff;
  text-decoration: none;
  opacity: .9;
  filter: alpha(opacity=90); }

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333;
  background: rgba(0, 0, 0, 0.75); }

.carousel-caption h4, .carousel-caption p {
  font-size: 14px;
  line-height: 20px;
  color: #fff; }

.carousel-caption h4 {
  font-size: 18px;
  margin: 0 0 5px; }

.carousel-caption p {
  margin-bottom: 0; }

.tooltip {
  text-shadow: none;
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 13px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible; }

.tooltip.in {
  opacity: .8;
  filter: alpha(opacity=80); }

.tooltip.top {
  margin-top: -3px; }

.tooltip.right {
  margin-left: 3px; }

.tooltip.bottom {
  margin-top: 3px; }

.tooltip.left {
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

a[rel="tooltip"] {
  text-decoration: none; }

.nav {
  margin-bottom: 0;
  margin-left: 0;
  list-style: none; }

.nav > li > a {
  display: block;
  text-decoration: none; }

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee; }

.nav > .pull-right {
  float: right; }

.nav-tabs, .nav-pills {
  *zoom: 1; }

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
  display: table;
  line-height: 0;
  content: ""; }

.nav-tabs:after, .nav-pills:after {
  clear: both; }

.nav-tabs > li, .nav-pills > li {
  float: left;
  padding: 0; }

.nav-tabs > li > a, .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.nav-tabs {
  padding: 0;
  border-bottom: 1px solid #ccc; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-color: transparent; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: #fff;
  background-color: #08c; }

.nav-stacked > li {
  float: none; }

.nav-stacked > li > a {
  margin-right: 0; }

.nav-tabs.nav-stacked {
  border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px; }

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px; }

.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #ddd; }

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #08c;
  border-bottom-color: #08c; }

.nav .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580; }

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px; }

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555; }

.nav > .dropdown.active > a:hover {
  cursor: pointer; }

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
  color: #fff;
  background-color: #999;
  border-color: #999; }

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 1;
  filter: alpha(opacity=100); }

.tabs-stacked .open > a:hover {
  border-color: #999; }

.tabbable {
  *zoom: 1; }

.tabbable:before, .tabbable:after {
  display: table;
  line-height: 0;
  content: ""; }

.tabbable:after {
  clear: both; }

.tab-content {
  margin-bottom: 1em;
  font-size: 14px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  overflow: auto; }

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none; }

.tab-content > .active, .pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent; }

.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd; }

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eee #ddd #eee #eee; }

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eee #eee #eee #ddd; }

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff; }

.nav > .disabled > a {
  color: #999; }

.nav > .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent; }

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2; }

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1; }

.navbar-inner:before, .navbar-inner:after {
  display: table;
  content: "";
  line-height: 0; }

.navbar-inner:after {
  clear: both; }

.navbar .container {
  width: auto; }

.nav-collapse.collapse {
  height: auto;
  overflow: visible; }

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #fff; }

.navbar .brand:hover, .navbar .brand:focus {
  text-decoration: none; }

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #777; }

.navbar-link {
  color: #777; }

.navbar-link:hover, .navbar-link:focus {
  color: #333; }

.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #fff; }

.navbar .btn, .navbar .btn-group {
  margin-top: 5px; }

.navbar .btn-group .btn, .navbar .input-prepend .btn, .navbar .input-append .btn, .navbar .input-prepend .btn-group, .navbar .input-append .btn-group {
  margin-top: 0; }

.navbar-form {
  margin-bottom: 0;
  *zoom: 1; }

.navbar-form:before, .navbar-form:after {
  display: table;
  content: "";
  line-height: 0; }

.navbar-form:after {
  clear: both; }

.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {
  margin-top: 5px; }

.navbar-form input, .navbar-form select, .navbar-form .btn {
  display: inline-block;
  margin-bottom: 0; }

.navbar-form input[type="image"], .navbar-form input[type="checkbox"], .navbar-form input[type="radio"] {
  margin-top: 3px; }

.navbar-form .input-append, .navbar-form .input-prepend {
  margin-top: 5px;
  white-space: nowrap; }

.navbar-form .input-append input, .navbar-form .input-prepend input {
  margin-top: 0; }

.navbar-search {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 0; }

.navbar-search .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.navbar-static-top {
  position: static;
  margin-bottom: 0; }

.navbar-static-top .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0; }

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0 0 1px; }

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0; }

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px; }

.navbar-fixed-top {
  top: 0; }

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }

.navbar-fixed-bottom {
  bottom: 0; }

.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); }

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0; }

.navbar .nav.pull-right {
  float: right;
  margin-right: 0; }

.navbar .nav > li {
  float: left; }

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff; }

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px; }

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333;
  text-decoration: none; }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e5e5e5;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075); }

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: #e5e5e5;
  *background-color: #d9d9d9; }

.navbar .btn-navbar:active, .navbar .btn-navbar.active {
  background-color: #ccc \9; }

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px; }

.navbar .nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px; }

.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px; }

.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto; }

.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid #fff;
  border-bottom: 0;
  bottom: -6px;
  top: auto; }

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333; }

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e5e5e5;
  color: #555; }

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #777;
  border-bottom-color: #777; }

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555; }

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0; }

.navbar .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px; }

.navbar .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px; }

.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222, #111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
  background-image: -webkit-linear-gradient(top, #222, #111);
  background-image: -o-linear-gradient(top, #222, #111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
  border-color: #252525; }

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
  color: #fff; }

.navbar-inverse .brand {
  color: #999; }

.navbar-inverse .navbar-text {
  color: #999; }

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #fff; }

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: #fff;
  background-color: #111; }

.navbar-inverse .navbar-link {
  color: #999; }

.navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
  color: #fff; }

.navbar-inverse .divider-vertical {
  border-left-color: #111;
  border-right-color: #222; }

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #111;
  color: #fff; }

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999;
  border-bottom-color: #999; }

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff; }

.navbar-inverse .navbar-search .search-query {
  color: #fff;
  background-color: #515151;
  border-color: #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #ccc; }

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #ccc; }

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #ccc; }

.navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0; }

.navbar-inverse .btn-navbar {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515',endColorstr='#ff040404',GradientType=0);
  border-color: #040404 #040404 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #040404;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
  color: #fff;
  background-color: #040404;
  *background-color: #000; }

.navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active {
  background-color: #000 \9; }

.dropup, .dropdown {
  position: relative; }

.dropdown-toggle {
  *margin-bottom: -3px; }

.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: ""; }

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 20px;
  color: #333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  text-decoration: none;
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0); }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0); }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: default; }

.open {
  *z-index: 1000; }

.open > .dropdown-menu {
  display: block; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000;
  content: ""; }

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px; }

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.widetext {
  visibility: hidden;
  margin: 0;
  line-height: 1; }

.wtext {
  white-space: nowrap;
  display: inline-block; }

.breadcrumb {
  font-size: 12px;
  padding: 7px 14px;
  margin: 0 0 25px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #fff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background-image: -o-linear-gradient(top, #fff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff; }

.breadcrumb li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-shadow: 0 1px 0 #fff; }

.breadcrumb .divider {
  padding: 0 5px;
  color: #999; }

.breadcrumb .active a {
  color: #333; }

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1; }

.pager:before, .pager:after {
  display: table;
  content: ""; }

.pager:after {
  clear: both; }

.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5; }

.pager .next a {
  float: right; }

.pager .previous a {
  float: left; }

.well, .sticky {
  min-height: 20px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-shadow: 1px 1px 0 #fff; }

.well p:last-child {
  margin-bottom: 0; }

.well img, .sticky img {
  background-color: #fff; }

/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("library/fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("library/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("library/fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("library/fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block; }

.icon-search:before {
  content: "\f021"; }

.icon-leaf:before {
  content: "\f022"; }

.icon-reorder:before {
  content: "\f023"; }

.icon-caret-down:before {
  content: "\f024"; }

.icon-caret-up:before {
  content: "\f025"; }

.icon-caret-right:before {
  content: "\f026"; }

.icon-quote-left:before {
  content: "\f027"; }

body {
  -moz-transition: left 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out;
  -webkit-transition: left 0.25s ease-in-out;
  transition: left 0.25s ease-in-out;
  position: relative;
  left: 0; }
  body.basic {
    color: #444;
    font-family: PT Sans, sans-serif; }

/* =Header
-------------------------------------------------------------- */
#header-wrap {
  padding-top: 40px; }
  .home #header-wrap {
    height: 550px; }
    @media (max-width: 768px) {
      .home #header-wrap {
        height: 490px; } }
  @media (max-width: 768px) {
    #header-wrap {
      padding: 0; } }

#header .left-header {
  margin: 0 0 60px;
  padding: 0 20px; }
  .basic #header .left-header {
    margin: 0; }
  @media (max-width: 768px) {
    #header .left-header {
      margin: 30px 0 20px !important;
      width: 100%; } }
#header .right-header {
  padding: 0 20px; }
  @media (max-width: 768px) {
    #header .right-header {
      margin: 0;
      float: none;
      position: absolute;
      top: 6px;
      left: -20px;
      width: 100%;
      z-index: 9; } }

#site-title,
#site-logo {
  margin: 0;
  line-height: 1; }

#site-logo {
  margin-bottom: 10px;
  display: block; }

#site-title a {
  font-size: 72px; }
  @media (max-width: 768px) {
    #site-title a {
      font-size: 55px; } }
  .basic #site-title a {
    font-family: Lobster, cursive; }

#site-title,
#site-description {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

#site-description {
  margin: 0;
  font-size: 14px;
  line-height: 1; }
  .basic #site-description {
    font-family: Quicksand, sans-serif; }

#header-img {
  display: block; }

/* =Main Navigation
-------------------------------------------------------------- */
.navbar .nav > li > a {
  float: left; }
  @media (max-width: 768px) {
    .navbar .nav > li > a {
      width: 100%; } }
@media (max-width: 768px) {
  .navbar .nav > li {
    width: 100%;
    display: block; } }

.transparent,
.navbar {
  margin-top: 25px; }
  @media (max-width: 768px) {
    .transparent,
    .navbar {
      margin-top: 0; } }
  .transparent .nav,
  .navbar .nav {
    width: 100%; }
  .transparent .nav > li.sub-menu-parent.open > a,
  .navbar .nav > li.sub-menu-parent.open > a {
    background-color: #e5e5e5;
    color: #555; }

.navbar-inner {
  float: right;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .navbar-inner {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 0;
      float: none;
      margin: 0; } }

.navbar-inverse .nav > li.sub-menu-parent.open > a {
  background-color: #111;
  color: #fff; }

.nav {
  padding: 0;
  margin: 0 !important; }
  .transparent .nav > li > a {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
    .transparent .nav > li > a:hover {
      color: inherit;
      text-shadow: none; }
  .transparent .nav > li.open > a {
    text-shadow: none; }
  .nav li a:not(:last-child):after {
    content: "\f0d7";
    font-family: FontAwesome;
    float: right;
    margin: 2px 0 0 10px; }
    .basic .nav li a:not(:last-child):after {
      content: "\f024"; }
  .nav li li a:not(:last-child):after {
    content: "\f0da";
    margin: 2px 0 0 10px; }
    .basic .nav li li a:not(:last-child):after {
      content: "\f026"; }

.sub-menu-parent {
  position: relative; }

.nav > li:last-child .sub-menu {
  right: 0;
  left: auto; }
.nav > li:last-child > .sub-menu:before {
  right: 9px;
  left: auto; }
.nav > li:last-child > .sub-menu:after {
  right: 10px;
  left: auto; }

.nav .sub-menu {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box; }
  @media (max-width: 768px) {
    .nav .sub-menu {
      position: relative;
      background: transparent;
      border: 0;
      float: none;
      width: 100%;
      clear: both; } }
.nav .open > .sub-menu {
  display: block; }
.nav .sub-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap; }
  @media (max-width: 768px) {
    .nav .sub-menu > li > a {
      color: #999; } }
.nav > li > .sub-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px; }
  @media (max-width: 768px) {
    .nav > li > .sub-menu:before {
      display: none; } }
.nav > li > .sub-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px; }
  @media (max-width: 768px) {
    .nav > li > .sub-menu:after {
      display: none; } }
.nav .sub-menu .sub-menu {
  -moz-border-radius: 0 6px 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 6px;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px; }

.sub-menu > li > a:hover,
li.sub-menu-parent.open > a {
  text-decoration: none;
  color: #fff;
  background-color: #0081c2; }

/* =Mobile Navigation
-------------------------------------------------------------- */
#mobile-menu {
  width: 100%;
  background: #1b1b1b;
  display: none;
  text-align: right;
  padding: 5px 10px;
  border-bottom: 1px solid #000; }

#mobile-menu a {
  width: 45px;
  line-height: 35px;
  padding-top: 4px;
  margin: 0 0 0 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  color: #ffffff;
  background: #000;
  box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #333;
  text-align: center;
  display: inline-block; }

#mobile-menu a:hover {
  background-color: #333; }

#mobile-menu a.left-menu {
  float: left;
  margin: 0 5px 0 0; }

#drop-down-search {
  clear: both;
  display: none;
  padding: 14px;
  background: #333; }

#drop-down-search .search-form {
  padding-right: 18px; }

#drop-down-search .search-field {
  width: 100%;
  border: 0; }

#drop-down-search .search-submit {
  display: none; }

@media (max-width: 768px) {
  #mobile-menu {
    display: block; }

  #nav-wrapper {
    position: absolute;
    top: 44px;
    width: 100%;
    max-height: 340px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none; }

  #nav-wrapper.menu-open {
    display: block; }

  #nav-wrapper .nav-content {
    padding-bottom: 44px;
    position: relative; }

  #main-menu,
  .menus ul,
  .menus ul ul,
  .menus li {
    width: 100%;
    clear: both;
    float: none;
    margin: 0 !important; }

  .menus ul ul {
    display: none;
    position: static;
    opacity: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .menus ul ul li a {
    padding-left: 30px !important; }

  .menus ul ul ul li a {
    padding-left: 50px !important; }

  .menus li a {
    background: #333;
    border-bottom: 1px solid #222;
    border-top: 1px solid #444;
    padding: 8px 16px !important;
    color: #fff !important;
    display: block;
    font-size: 16px;
    text-transform: none !important; }

  .menus li a:hover {
    background: #444; }

  #site-sub-navigation li:before {
    content: ""; }

  .menus ul ul li a:not(:last-child):after {
    content: "\f0d7"; } }
/* =Carousel
-------------------------------------------------------------- */
#header-wrap #myCarousel {
  padding: 0;
  height: 323px; }
  @media (max-width: 768px) {
    #header-wrap #myCarousel {
      height: 284px; } }
#header-wrap .carousel-caption {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  background: none;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  padding: 0 20px;
  max-height: 245px; }
  @media (max-width: 768px) {
    #header-wrap .carousel-caption {
      max-height: 200px; } }
  #header-wrap .carousel-caption h2 {
    color: #fff;
    margin: 0 0 10px;
    font-size: 44px; }
    @media (max-width: 768px) {
      #header-wrap .carousel-caption h2 {
        font-size: 38px; } }
    @media (max-width: 480px) {
      #header-wrap .carousel-caption h2 {
        font-size: 28px; } }
    #header-wrap .carousel-caption h2 a {
      color: #fff; }
  #header-wrap .carousel-caption p {
    font-size: 24px;
    line-height: 1.3;
    margin: 0 0 20px;
    padding-right: 20%; }
  @media (max-width: 768px) {
    #header-wrap .carousel-caption .lead {
      font-size: 18px;
      padding-right: 0; } }
  @media (max-width: 480px) {
    #header-wrap .carousel-caption .lead {
      font-size: 16px; } }
#header-wrap .carousel-control {
  top: auto;
  bottom: 15px;
  font-size: 24px;
  line-height: 1.5; }
  #header-wrap .carousel-control.left {
    left: 50%;
    margin-left: -50px; }
  #header-wrap .carousel-control.right {
    right: 50%;
    margin-right: -50px; }

.jumbotron {
  margin-bottom: 30px;
  text-align: center; }
  .basic .jumbotron {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    color: #fff; }
    @media (max-width: 768px) {
      .basic .jumbotron {
        background: none;
        padding: 0 20px; } }
  @media (max-width: 768px) {
    .jumbotron {
      margin: 0; } }
  .jumbotron h2 {
    font-size: 100px;
    line-height: 1;
    margin-top: 0; }
    .basic .jumbotron h2 {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      margin-top: 20px;
      color: #fff; }
    @media (max-width: 960px) {
      .jumbotron h2 {
        font-size: 80px; } }
    @media (max-width: 768px) {
      .jumbotron h2 {
        font-size: 70px; }
        .basic .jumbotron h2 {
          font-size: 44px; } }
  .jumbotron .lead {
    font-size: 24px;
    line-height: 1.25; }
    @media (max-width: 768px) {
      .jumbotron .lead {
        font-size: 20px; } }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    color: #fff; }
    .jumbotron .btn:hover {
      color: #fff; }

/* =Home Widgets
-------------------------------------------------------------- */
@media (max-width: 768px) {
  #home-page-widgets {
    margin: 0; } }

.home-widget {
  margin: 20px 0;
  text-align: center; }
  @media (max-width: 768px) {
    .home-widget {
      margin-bottom: 10px !important; } }
  .home-widget img {
    margin-top: 0; }

.home-widget-title {
  margin: 10px 0 5px;
  font-size: 28px; }

/* =Main elements
-------------------------------------------------------------- */
#main {
  margin-top: 40px; }

#primary {
  margin-bottom: 40px; }
  #primary.centered {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    clear: both; }

/* =Article
-------------------------------------------------------------- */
#featured {
  margin-bottom: 20px; }

.blog-url {
  margin-bottom: 30px; }
  .basic .blog-url {
    color: #333; }

article {
  margin-bottom: 30px;
  float: left;
  width: 100%; }

.entry-title {
  font-size: 44px;
  margin: 0; }
  .basic .entry-title, .basic .entry-title a {
    font-family: Lato, sans-serif; }

.entry-meta {
  font-size: 13px;
  line-height: 1;
  margin-top: 5px;
  color: #666; }
  .basic .entry-meta, .basic .entry-meta a {
    font-family: Lato, sans-serif;
    font-weight: 300; }
  .entry-meta a {
    color: #666; }
    .entry-meta a:hover {
      color: #444; }

.post-category i,
.post-format i {
  margin-right: 5px;
  opacity: 0.9; }

.post-category,
.post-format,
.page-title {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  color: #666;
  margin-bottom: 3px; }
  .basic .post-category, .basic .post-category a, .basic
  .post-format, .basic
  .post-format a, .basic
  .page-title, .basic
  .page-title a {
    font-family: Lato, sans-serif;
    font-weight: 300; }

.post-category a {
  color: #666; }
  .post-category a:hover {
    color: #444; }

.entry-content {
  position: relative;
  width: 100%; }

.more-link-p,
footer.entry {
  clear: both; }
  .basic .more-link-p a.btn, .basic
  footer.entry a.btn {
    color: #fff; }

.pullquote {
  -moz-box-shadow: 0 1px 0 #eee, inset 0 1px 0 #eee;
  -webkit-box-shadow: 0 1px 0 #eee, inset 0 1px 0 #eee;
  box-shadow: 0 1px 0 #eee, inset 0 1px 0 #eee;
  font-size: 21px;
  color: #444;
  font-weight: bold;
  line-height: 1.6125em;
  border: 0;
  padding: 0;
  margin: 1em 1.625em 1em 0;
  text-align: right;
  width: 33%;
  float: left;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa; }
  .pullquote.alignright {
    margin: 1em 0 1em 1.625em;
    text-align: left;
    float: right; }
  @media (max-width: 480px) {
    .pullquote {
      width: 100%;
      margin: 0 0 .5em 0;
      float: none;
      text-align: left; } }

@media (max-width: 480px) {
  .columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important; } }

/* =404
-------------------------------------------------------------- */
article.error404 .entry-title,
article.error404 .entry-content {
  text-align: center; }
article.error404 .entry-title {
  font-size: 500%; }
  @media (max-width: 480px) {
    article.error404 .entry-title {
      font-size: 400%; } }
article.error404 .entry-content {
  font-size: 200%;
  line-height: 1.2;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    article.error404 .entry-content {
      font-size: 150%; } }

/* =Aside
-------------------------------------------------------------- */
.format-aside p {
  margin-top: 0; }

/* =Quote
-------------------------------------------------------------- */
.format-quote .entry-content {
  padding-left: 70px;
  font-style: italic; }
.format-quote blockquote,
.format-quote blockquote p {
  font-size: 36px;
  line-height: 1.2;
  margin: 0; }
.format-quote i.quote {
  color: #ccc;
  display: block;
  font-size: 60px;
  position: relative;
  float: left; }
.format-quote blockquote {
  border: 0;
  padding: 0;
  font-size: 18px; }
.format-quote cite {
  font-size: 24px; }

/* =Status
-------------------------------------------------------------- */
.format-status .post-category {
  margin-bottom: 10px; }
.format-status .avatar {
  float: left;
  margin: 0 17px 0 0; }
.format-status .author {
  font-size: 18px;
  margin: 0; }
.format-status .entry-content {
  padding-left: 77px;
  clear: none;
  display: inherit; }
  .format-status .entry-content p {
    margin-top: 0; }
.format-status time {
  font-size: 13px;
  color: #666;
  margin: 5px 0 10px;
  display: inline-block; }

/* =Link
-------------------------------------------------------------- */
.format-link blockquote {
  margin-top: 0; }
.format-link p {
  margin: 0; }
.format-link footer.entry p {
  margin: 1em 0; }
.format-link .entry-content a {
  font-size: 24px; }

/* =Gallery
-------------------------------------------------------------- */
.gallery {
  margin: 20px -20px; }
  .gallery > p {
    margin: 0;
    height: 0; }

.gallery-item {
  margin-bottom: 20px;
  float: left;
  padding: 0 20px; }
  .gallery-item .gallery-icon img {
    width: 100%; }
  .gallery-item .gallery-caption {
    padding: 10px 0;
    color: #444;
    clear: both;
    font-size: 12px;
    text-align: center; }
  .gallery-columns-1 .gallery-item {
    width: 100%; }
  .gallery-columns-2 .gallery-item {
    width: 50%; }
  .gallery-columns-3 .gallery-item {
    width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    width: 25%; }
  .gallery-columns-5 .gallery-item {
    width: 20%; }
  .gallery-columns-6 .gallery-item {
    width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    width: 11.11%; }
  @media (max-width: 480px) {
    .gallery .gallery-item {
      width: 100%;
      margin-bottom: 20px; } }

/* =Tags
-------------------------------------------------------------- */
.tags {
  font-size: 14px;
  margin-bottom: 0; }
  .tags span {
    margin-right: 5px; }
  .tags a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #eee;
    padding: 2px 6px;
    border: 1px solid #ddd;
    font-size: 90%;
    margin: 0 2px 5px 0;
    color: #666;
    display: inline-block; }
    .tags a:hover {
      background: #ddd; }

/* =Pagination
-------------------------------------------------------------- */
#pagination, #posts-pagination,
#post-pagination {
  margin: 0 0 20px 0;
  clear: both; }

.btn.total-pages {
  margin-right: 10px;
  cursor: default; }

.btn.special:hover,
.btn.special:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F5F5F5;
  color: #333333;
  text-decoration: none;
  background-position: 0; }

#posts-pagination {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  line-height: 1.2; }
  #posts-pagination .previous,
  #posts-pagination .next {
    max-width: 48%;
    font-size: 16px;
    word-break: break-word; }
    #posts-pagination .previous .btn,
    #posts-pagination .next .btn {
      text-align: left; }
    #posts-pagination .previous a,
    #posts-pagination .next a {
      color: #000; }
  #posts-pagination .next .btn {
    text-align: right; }

/* =Comments
-------------------------------------------------------------- */
.comments-area {
  margin-top: 30px;
  clear: both;
  float: left;
  width: 100%; }
  .comments-area .commentlist,
  .comments-area .children {
    list-style: none;
    padding: 0; }

.commentlist .comment,
.commentlist .pingback {
  padding-bottom: 20px; }
.commentlist .comment .avatar {
  float: left; }
.commentlist .comment .comment-author,
.commentlist .comment .comment-meta,
.commentlist .comment .comment-text {
  padding-left: 75px; }
.commentlist .comment .comment-author {
  font-size: 20px; }
.commentlist .comment .comment-meta {
  font-size: 13px;
  color: #888;
  font-style: italic; }
.commentlist .comment .comment-reply-link {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  margin: 0;
  background: #bbb; }
.commentlist .children {
  margin: 20px 0 0;
  padding-left: 10px; }
  .commentlist .children > .comment {
    padding-left: 23px !important; }
  .commentlist .children .comment {
    border-left: 1px solid #e6e6e6;
    position: relative; }
    .commentlist .children .comment:before {
      width: 12px;
      height: 12px;
      display: block;
      background: #fff;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      border: 1px solid #e6e6e6;
      position: absolute;
      top: 30px;
      left: -7px;
      content: "";
      z-index: 60; }
    .commentlist .children .comment:after {
      width: 100px;
      height: 1px;
      border-top: 1px solid #e6e6e6;
      display: block;
      position: absolute;
      top: 36px;
      left: -5px;
      content: "";
      z-index: 50; }
.commentlist .comment-body {
  padding: 20px;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  display: block;
  z-index: 100;
  position: relative; }
.commentlist .bypostauthor > .comment-body {
  border: 10px solid #ddd; }
.commentlist pre {
  background: #fff;
  border-color: #e6e6e6; }

#cancel-comment-reply-link {
  font-size: 14px;
  font-weight: normal;
  float: right; }

#comment-nav-above,
#comment-nav-below {
  margin: 10px 0;
  overflow: hidden; }
  #comment-nav-above .nav-previous,
  #comment-nav-above .nav-next,
  #comment-nav-below .nav-previous,
  #comment-nav-below .nav-next {
    display: inline-block;
    width: 50%;
    float: left; }
  #comment-nav-above .nav-next,
  #comment-nav-below .nav-next {
    text-align: right; }

/* =Archives
-------------------------------------------------------------- */
#archive-header,
.page-title {
  margin: 0 0 30px;
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #aaa; }

#archive-header h1 {
  margin-bottom: 0;
  border: 0; }
#archive-header .archive-meta {
  color: #666;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
  padding-bottom: 10px; }
  #archive-header .archive-meta p {
    margin: 0; }

.page-title {
  font-size: 1.2em;
  padding: 10px 0; }
  .page-title a {
    font-family: inherit; }

/* =Sidebar
-------------------------------------------------------------- */
.widget,
#secondary {
  margin-bottom: 30px; }

.widget {
  width: 100%;
  font-size: 90%; }
  .widget .search-form {
    margin: 0 0 20px; }
    .widget .search-form .search-field {
      width: 100%; }
    .widget .search-form .search-submit {
      display: none; }
  .widget .tagcloud {
    padding: 0 0 20px;
    text-align: center; }

.widget-title {
  font-size: 22px;
  margin: 0 0 10px; }

.widget_rss ul {
  list-style: none;
  padding: 0; }
  .widget_rss ul li {
    padding-bottom: 15px; }
    .widget_rss ul li .rsswidget {
      font-size: 18px;
      line-height: 1.1;
      display: block; }
      .widget_rss ul li .rsswidget:hover {
        margin: 0 !important; }
    .widget_rss ul li .rssSummary {
      margin-top: 5px; }
    .widget_rss ul li .rss-date {
      font-size: 12px;
      color: #888; }
    .widget_rss ul li cite {
      font-style: italic; }

/* =Footer Widgets
-------------------------------------------------------------- */
.line.active {
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: block;
  margin-bottom: 20px; }

.footer-widget {
  margin: 10px 0; }
  .footer-widget #calendar_wrap {
    color: #444;
    text-shadow: none; }
    .footer-widget #calendar_wrap caption {
      color: #fff;
      text-shadow: 1px 1px 0 #000;
      margin-bottom: 10px; }
  .footer-widget ul {
    list-style: none;
    padding: 5px 0 0; }
    .footer-widget ul li {
      margin-bottom: 5px; }
  .footer-widget .widget-title {
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 15px; }

/* =Footer
-------------------------------------------------------------- */
#footer {
  border-top: 1px solid #e2e2e2;
  background: #eee;
  text-shadow: 1px 1px 0 #fff;
  color: #666;
  font-size: 13px;
  position: relative;
  z-index: 100; }
  #footer .row {
    margin-bottom: 0; }
  #footer #footer-content {
    padding: 10px 0 5px; }
    @media (max-width: 768px) {
      #footer #footer-content span {
        display: block;
        float: none;
        text-align: center; } }
    @media (max-width: 768px) {
      #footer #footer-content .copyright {
        margin-bottom: 10px; } }
  #footer .credit-link {
    position: relative; }

/* =bbPress
-------------------------------------------------------------- */
#bbpress-forums .avatar {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.bbp-author-avatar {
  display: inline-block; }
  .bbp-author-avatar img {
    margin-bottom: 0 !important; }

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important; } }
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 20px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 20px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  max-width: 100%;
  padding: 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 12px;
  margin: 0;
  padding: 5px; }
